@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-neue-plak: var(--font-neue-plak);
  --font-montserrat: var(--font-montserrat);
  --font-basis33: var(--font-basis33);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --color-primary: #2b71fa;
  --color-secondary: #bfd4fd;
  --shadow-backdrop: 0 4.87px 52px -5.68px rgba(0, 0, 0, 0.25);
  --shadow-selected-wuboo: 0 3.64px 45.71px 7.28px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* html,
body {
  overflow-x: hidden;
} */

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@keyframes type-cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-type-cursor {
  animation: type-cursor 1s steps(2, start) infinite;
}
